<h1>Editing Group Member Profile</h1>

<%= render 'form', group_member_profile: @group_member_profile %>

<%= link_to 'Show', @group_member_profile %> |
<%= link_to 'Back', group_member_profiles_path %>
